$main-green: #a4c1af;
$second-green: #58826a;
$third-green: #2f4538;
$black: #000000;
$white: #ffffff;
$second-white: #dcdcdc;
$gray: #a5a5a5;
$second-gray: #82898f;
$link: #3a3ae4;
// size variables

$maxDesktopWidth: 1920;
$maxTableWidth: 1024;
$maxMobileWidth: 620;
$minMobileWidth: 350;

$heightHeaderApp: 60rem;
$heightHeaderAppMobile: 40rem;

$gapMobileContent: 40rem;
